<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navbar.css')}}">
<style type="text/css">
  table{
  background-color:lightblue;
  border-radius:5px;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-right: 10px;
  margin-top:20px;
  width:70%;
}

input{
  font-size: initial;
}

span {
  background-color:#FFC8B4;
  box-shadow:1px 1px 3px red;
  margin-right:8px;
}

@media screen and (max-width: 800px){
  table{
    width:90%;
  }
}
</style>
</head>
<body>

<ul class="computer" id="topnav">
	<li><a class="active" href="../">Secret Talk</a></li>
  	<li><a href="../receive">收件</a></li>
  	<li><a href="../send">寄件</a></li>
    <li><a href="../friend">增加好友</a></li>
  	<div class="right">
  		<li><a href="../logout">登出</a></li>
  		<li>
  			<a href="javascript:void(0);" class="icon" onclick="change()"><i class="fa fa-bars"></i></a>
  		</li>
  	</div>
</ul>
	
<div style="padding-top:45px;padding-left: 20px;">
	<form method="post" action="/receive/" name="key">
    <table align="center">
      <tr>
        <th width=15%>private_key</th>
        <td><input class="w3-input w3-border w3-round-large" type='text' name="private_key"></td>
      </tr>
      <tr>
        <td colspan="2" align="right"><input class="button" value="送出" type='submit' name="send"></td>
      </tr>
  </table>
    
  </form>
</div>

<script>
function change() {
	var x = document.getElementById("topnav");
	if (x.className === "computer") {
		x.className = "phone";
	} else {
		x.className = "computer";
	}
}
</script>

</body>
</html>
